.dashicons-my-gallery{
    background-size: 60%;
    background-image: url(../images/gallery.png);
    background-repeat: no-repeat;
    background-position: 50%;
}
span.dashicons-my-gallery  {
    background-size: 100% !important;
}
.button-container{
    display: inline-block;
}
.gallery h2{
    text-align: center;
    padding-bottom:10px;
}

.input-title{
    width:100%
}
.input-classnames{
    width:100%;
}