.dashicons-my-gallery{
    background-size: 60%;
    background-image: url(../images/gallery.png);
    background-repeat: no-repeat;
    background-position: 50%;
}
span.dashicons-my-gallery  {
    background-size: 100% !important;
}
.button-container{
    display: inline-block;
}
.my-gallery-plugin-title{
    text-align: center;
    padding-bottom:20px;
    color:rgba(0,0,0,0.4) !important;
}
.my-gallery-plugin-container{
    margin:15px 0 15px;
}


.wrap-about-my-gallery{
    display:flex;
    justify-content: center;
}
.container-about{
    min-width:350px;
    width:700px;
}
.container-about li{
    list-style:initial; 
}
